footer {
  width: 100vw;
  margin-top: 200px;
  background-color: #000;
  position: relative;
  padding: 87px 0 92px;
  font-family: "Libre Baskerville", serif;
}

footer a {
  cursor: url(../images/cursor-pointer.png), auto;
}

footer .goTop {
  height: 100px;
  font-size: 26px;
  font-weight: 700;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  position: fixed;
  bottom: 65px;
  right: 80px;
  opacity: 0;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
  z-index: 2;
}

footer .goTop.positionChange {
  position: absolute;
  top: -230px;
  right: 100px;
}

footer .goTop:hover span {
  -webkit-transform: translate3d(-6px, -62px, 0) rotate(-25deg);
          transform: translate3d(-6px, -62px, 0) rotate(-25deg);
  -webkit-transition: -webkit-transform 0;
  transition: -webkit-transform 0;
  transition: transform 0;
  transition: transform 0, -webkit-transform 0;
}

footer .goTop:hover .goTopPunch {
  opacity: 1;
  visibility: visible;
  bottom: -10px;
}

footer .goTop:hover i {
  opacity: 0;
}

footer .goTop i {
  display: block;
  font-size: 20px;
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s;
  z-index: 1;
}

footer .goTop span {
  display: block;
  z-index: 1;
}

footer .goTop .goTopPunch {
  width: 30px;
  height: 62px;
  background: center/contain no-repeat url(../images/top-paw-brown.svg);
  opacity: 0;
  visibility: hidden;
  position: absolute;
  bottom: -30px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  -webkit-transition: bottom 0.1s;
  transition: bottom 0.1s;
  z-index: 1;
}

footer .footerLayer {
  width: 100vw;
  height: 153px;
  position: absolute;
  top: -100px;
  left: 0;
}

footer .footerLayer img {
  width: 100%;
}

footer .footerContent {
  max-width: 1524px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

footer .footerContent .leftContent .footerMenu li {
  padding: 20px 0;
}

footer .footerContent .leftContent .footerMenu li a {
  color: #f0ede6;
  font-size: 60px;
  font-weight: 700;
  line-height: 1;
  -webkit-transition: color 0.3s cubic-bezier(0.05, 0.9, 0.32, 0.96);
  transition: color 0.3s cubic-bezier(0.05, 0.9, 0.32, 0.96);
}

footer .footerContent .leftContent .footerMenu li a:hover {
  color: #ccc7bb;
}

footer .footerContent .leftContent .info {
  margin: 40px 0 70px;
  height: 30px;
  overflow: hidden;
  -webkit-transition: height 0.3s;
  transition: height 0.3s;
}

footer .footerContent .leftContent .info.active {
  height: 100px;
}

footer .footerContent .leftContent .info.active .infoBtn::after {
  -webkit-transform: rotate(-180deg);
          transform: rotate(-180deg);
}

footer .footerContent .leftContent .info .infoBtn {
  color: #f0ede6;
  font-size: 18px;
  font-weight: 700;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .footerContent .leftContent .info .infoBtn::after {
  content: "\f107";
  font-size: 22px;
  font-weight: 900;
  font-family: "Font Awesome 5 Free";
  margin-left: 10px;
  -webkit-transition: -webkit-transform 0.4s;
  transition: -webkit-transform 0.4s;
  transition: transform 0.4s;
  transition: transform 0.4s, -webkit-transform 0.4s;
}

footer .footerContent .leftContent .info .infoDetail {
  color: #666;
  margin-top: 15px;
  font-family: "Noto Sans KR", "LibreBaskerville", sans-serif;
}

footer .footerContent .leftContent .info .infoDetail p {
  line-height: 2;
}

footer .footerContent .leftContent .info .infoDetail p span {
  font-weight: 500;
}

footer .footerContent .leftContent .info .infoDetail p span + span {
  margin-left: 10px;
}

footer .footerContent .leftContent .copyright {
  color: rgba(240, 237, 230, 0.5);
  font-size: 24px;
  font-weight: 700;
}

footer .footerContent .sns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #f0ede6;
}

footer .footerContent .sns li + li {
  margin-left: 50px;
}

footer .footerContent .sns li a {
  display: block;
  font-size: 26px;
  font-weight: 700;
  position: relative;
  padding-bottom: 10px;
}

footer .footerContent .sns li a:hover svg {
  opacity: 1;
  visibility: visible;
}

footer .footerContent .sns li a svg {
  width: 100%;
  height: auto;
  position: absolute;
  top: 100%;
  left: 0;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}
/*# sourceMappingURL=footer.css.map */