header {
  width: 100%;
  height: 144px;
  padding: 0 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Libre Baskerville", serif;
  font-size: 24px;
  font-weight: 700;
  // background-color: #f0ede6;
  position: fixed;
  z-index: 999;

  a {
    cursor: url(../images/cursor-pointer.png), auto;
  }

  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .gnbList {
      display: flex;
      justify-content: center;
      // text-align: center;

      .depth01 {
        // width: 160px;
        // display: inline-block;
        // text-align: center;
        position: relative;

        &:hover {
          &::before {
            opacity: 1;
            visibility: visible;
          }
          .depth02 {
            opacity: 1;
            visibility: visible;
          }
        }

        &::before {
          content: "";
          display: block;
          width: 8px;
          height: 8px;
          border-radius: 50%;
          background-color: #000;
          position: absolute;
          top: 0;
          left: 50%;
          transform: translateX(-50%);
          opacity: 0;
          visibility: hidden;
          transition: opacity 1s;
        }
        > a {
          width: 100%;
          display: block;
          padding: 16px 25px;
          text-align: center;
          position: relative;
        }
        .depth02 {
          width: 154px;
          background-color: #000;
          padding: 25px;
          position: absolute;
          top: 100%;
          left: 0;
          opacity: 0;
          visibility: hidden;
          transition: opacity 0.3s;

          li {
            &:hover {
              > a {
                &::after {
                  opacity: 1;
                }
              }
            }
            > a {
              display: inline-block;
              color: #fff;
              font-size: 18px;
              font-family: "NotoSansKR", "LibreBaskerville", sans-serif;
              // padding: 0 30px;
              line-height: 1.7;
              padding: 5px 0;

              &::after {
                content: "";
                display: block;
                width: 100%;
                height: 2px;
                background-color: #fff;
                opacity: 0;
                transition: all 0.3s;
              }
            }
          }
        }
      }
    }

    // .icons {
    //   a {
    //     &:hover {
    //       svg {
    //         opacity: 1;
    //         visibility: visible;
    //       }
    //     }
    //   }
    // }
  }
}
